<% layout('layouts/boilerplate') %>

<div class="row">
  <%- include('../partials/aside') %>



  <div class="col-xs-10 col-sm-10 col-md-9 col-lg-10" style="height:auto;border: 1px solid red;">

    <form>
      <div  class="input-group p-1">
        <input autofocus type="search" placeholder="Search for artists or songs" aria-describedby="button-addon3"
          class="form-control bg-none border-1">
      </div>
    </form>
    <div>



    </div>