<div class="col-xs-3 col-sm-3 col-md-3 col-lg-2"
  style="padding: 0; width:auto; background-color: grey; min-height:100%;">
  <div style="height:100vh;">
    <ul class="aside">
      <% if(currentUser) {%>
      <li id="home">
        <a class="navigation" href="/playlists"><span><i class="fas fa-home"></i></span> Home</a>
      </li>
      <li id="browse">
        <a class="navigation" href="/browse"><span><i class="fas fa-eye"></i>
          </span>
          Browse</a>
      </li>
      <li id="search">
        <a class="navigation" href="/search"><span><i class="fas fa-search"> </i></span>  Search</a>
      </li>
      <%} else {%>

      <li id="browse">
        <a class="navigation" href="/browse"><span><i class="fas fa-eye"></i>
          </span>
          Browse</a>
      </li>
      <li id="search">
        <a class="navigation" href="/search"><span><i class="fas fa-search"> </i></span>  Search</a>
      </li>
      <%}%>

      </ul>

      <ul class="aside pt-3">
        <h4 id="list">PLAYLISTS</h4>
        <% if(!currentUser) {%>
      <li>
        <a class="btn btn-sm" style="width:100%;" href="/playlists/new"><i style="float: left;" id="sideAdd"
            class="far fa-plus-square"></i>
          <div style="margin-top:0.5em; align-items: center;" id="sideAddWord"> Create Playlist</div>
        </a>
      </li>
      <%} else {%>
      <li>
        <a class="btn btn-sm" style="width:100%;" href="/playlists/new"><i style="float: left;" id="sideAdd"
            class="far fa-plus-square"></i>
          <div style="margin-top:0.5em; align-items: center;" id="sideAddWord"> Create Playlist</div>
        </a>
      </li>
      <% usersPlaylists.forEach(function(playlist) {%>
      <li class="row">
        <a class="sidePlaylistLink btn btn-sm" href="/playlists/<%=playlist._id%>">
          <% if (playlist.image.length > 30) {%>
          <img style="max-height: 30px; min-height: 30px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sideImage"
            src="<%= playlist.image%>" alt="" />
          <% }else { %>
          <img class="col-xs-3 col-sm-3 col-md-3 col-lg-3 sideImage" src="https://via.placeholder.com/300" alt="" />
          <%}%>



          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 sidePlaylistWord">
            <%= playlist.name %>
  </div>
  </a>
  </li>
  <%})%>
  <%}%>
    </ul>
  </div>
  </div>