<div id="aside"   class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
  <div>
    <ul class="asideList">
      <% if(currentUser) {%>
      <li id="home">
        <a class="navigation" href="/playlists"><span><i class="fas fa-home"></i></span> Home</a>
      </li>
      <li id="browse">
        <a class="navigation" href="/browse"><span><i class="fas fa-eye"></i>
          </span>
          Browse</a>
      </li>
      <li id="search">
        <a class="navigation" href="/search"><span><i class="fas fa-search"> </i></span>  Search</a>
      </li>
      <%} else {%>

      <li id="browse">
        <a class="navigation" href="/browse"><span><i class="fas fa-eye"></i>
          </span>
          Browse</a>
      </li>
      <li id="search">
        <a class="navigation" href="/search"><span><i class="fas fa-search"> </i></span>  Search</a>
      </li>
      <%}%>

      </ul>
    </div>

    
    
    <ul class="aside pt-3">
      <h4 id="list">PLAYLISTS</h4>
      
      <div id="createPlaylist">
        <a id="sideAddLink" class="btn btn-sm text-white" href="/playlists/new">
          <i style="float: left;" id="sideAdd" class="far fa-plus-square"></i>
          <p id="sideAddWord"> New Playlist</p>

        </a>
      </div>

      <% if(currentUser) {%>
        <div class="scrollable scrollbar thin">
          <% usersPlaylists.forEach(function(playlist) {%>
          <li class="sidePlaylist">
            <a class="sidePlaylistLink btn btn-sm text-white px-0 mx-0" href="/playlists/<%=playlist._id%>">
              <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9  px-0  mx-0 sidePlaylistWord">
                <%= playlist.name %>
              </div>
            </a>
          </li>
          <%})%>
        </div>
        <%}%>
    </ul>
  </div>