<% layout('layouts/boilerplate') %>


<div class="top ui centered container">
  <header class="jumbotron">
    <h1><i class="fas fa-music"></i> Welcome to Playlist-ify</h1>
    <p>Search through our database of music for the right songs and artists and become a playlist god!</p>

    <p> 
      <a class="btn btn-lg btn-primary" href="/myplaylists/new">Create a New Playlist </a>     
      <a class="btn btn-lg btn-primary" href="/myplaylists">MyPlaylists</a> 
    </p>
    <!-- <form>

      <div class="input-group mb-4 border rounded-pill p-1">
        <input type="search" placeholder= "Search for artists or songs" aria-describedby="button-addon3" class="form-control bg-none border-0">
      </div>
  
      </form> -->
  </header>
</div>





<script src="/javascript/clusterMap.js"></script>
