body {
  margin: 0;
  padding: 0;
}
main.container {
  margin: 0;
  padding: 0 0 5em 0;
  /* padding-bottom: 5em; */
  clear: both;
}

.like {
  font-size: 1.8em;
}
.like:hover {
  color: green;
}

#home {
  padding-top: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  /* border: 1px solid red; */
}
#browse,
#search,
#library {
  margin-top: 0.8em;
}

h4#list {
  font-size: 1.5em;
}

.aside {
  list-style: none;
  margin-top: 1em;
}

i#sideAdd {
  padding-right: 0.2em;
  font-size: 3em;
  display: flex;
  width: 20%;
  margin: 5px;
  margin-left: -2px;
}

#sideAddWord {
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

.sidePlaylistLink {
  font-size: 2em;
  width: 90%;
}

img.sideImage {
  padding: 0;
  /* display:flex; */
  float: left;
}

.sidePlaylistWord {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  height: auto;
  margin-top: 2px;
  padding: 0 1em;
}

.navigation {
  font-size: 1.5em;
  color: black;
  padding: 0.5em 0;
}

.navigation:hover {
  color: green;
}

.add {
  font-size: 1.8em;
}
.add:hover {
  color: green;
}

#play {
  background-color: green;
}

.fas {
  padding-right: 0.3em;
}

.img-responsive {
  width: 100%;
  height: 200px;
}

.playlists {
  /* height: 200px; */
  color: black;
}
.playlists:hover {
  color: green;
}

#footer {
  margin-top: auto;
}

#pic {
  width: 60%;
  height: 60%;
}


.glimpse {
  width: 125px;
  min-height: 125px;
  background-size: cover;
  object-fit: scale-up;
}


/* modals */
.optionsChoice:hover{
  background-color: lightgrey;
}
.modalPlaylistList:hover{
  background-color: lightgrey;
}
