body{
  margin:0;
  padding: 0;
}
main.container {
  margin: 0;
  padding: 0 0 5em 0;
  /* padding-bottom: 5em; */
  clear: both;
}



.like {
  font-size: 1.8em;
}
.like:hover {
  font-weight: bold;
  font-size: 2em;
  color: green;
}

.aside{
  list-style: none;
  margin-top: 1em;
}

.aside li{
  margin:1em 0;
}

#home{
  padding-top:1em;
  margin-right:1em;
  margin-bottom:0.5em;
  border: 1px solid red;
}

#browse{
  border: 1px solid red;

}


#sideAdd{
  font-size:1.5em;
}

.navigation {
  font-size: 1.5em;
  color: black
}

.navigation:hover {
 color: green;
}

.add {
  font-size: 1.8em;
}
.add:hover {
  color: green;
}

#play {
  background-color: green;
}

.img-responsive{
  width:100%;
  height: 200px;
}

.playlists {
  /* height: 200px; */
  color: black;
}
.playlists:hover {
  color: green;
}

#footer {
  margin-top: auto;
}

#pic {
  width: 60%;
  height: 60%;
}

.glimpse {
  min-width: 100px;
  min-height: 100px;
  object-fit: contain;
}
