main.container {
  padding-bottom:5em;
  clear: both;
}

.like{
  font-size: 1.8em;
}
.like:hover{
  font-weight: bold;
  font-size: 2em;
  color: green;
}

#home {
  color: rgba(255,255,255,.5);
}
#home:hover {
  color: rgba(255,255,255,.75);
}

.add {
  font-size: 1.8em;
}
.add:hover {
  color:green
}

#play{
  background-color:green;
}


.playlists{
  color: black
}
.playlists:hover{
  color: green;
}



#footer {
  margin-top: auto;
}

#pic {
  width: 60%;
  height: 60%;
}

.glimpse{
  min-width: 100px;
  min-height: 100px;
  object-fit: contain;
}

