<% layout('layouts/boilerplate') %>

<!-- list of all your playlists -->
<h1 class="mb-5">My Playlists</h1>
<div class="ui container">
  <div class="ui grid mb-3">
    <% for(let playlist of usersPlaylists) {%>
    <div id="playlists" class="card col-xs-6 col-sm-4 col-md-3 col-lg-3 mb-2">
      <a href="/playlists/<%= playlist._id %>">

        <h2 class="text-center mt-1"><%= playlist.name%> </h2>
        <img style="max-width:100%" src="<%= playlist.image%>" class="mb-3" alt="">

      </a>
    </div>
    <%}%> 
  </div>
</div>

<br><br><br>
<h6>songs to look through</h6>