<% layout('layouts/boilerplate') %>

<div class="row">
  <%- include('../partials/aside') %>

  <div class="col-xs-10 col-sm-10 col-md-9 col-lg-10 pl-4 pr-4">
    <!-- list of all your playlists -->
    <h1 style="margin-left: -15px;" class="mb-3">My Playlists</h1>
    <a style="margin-left: -15px;" class="btn btn-lg btn-primary mb-5" href="/playlists/new">Create a New Playlist </a>

    <div class="ui grid mb-3 text-center pr-3 mb-5">
      <% for(let playlist of usersPlaylists) {%>
      <div class="card col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-3" 

      >

        <div class="thumbnail" style="width:100%; ;">
          <div style="max-height: 150px;
                    overflow: hidden;" class="preview">

            <% if (playlist.image.length > 30) {%>
            <img class="img-thumbnail card-fluid glimpse resize" src="<%=playlist.image%>" alt="">
            <% }else { %>
            <img class="img-thumbnail card-fluid glimpse resize" src="https://via.placeholder.com/100" alt="">

            <%}%>
            </div>

            <div class="card-body">
              <div class="caption">
                <h5 class="card-title mb-2"> <%= playlist.name %> </h5>
          </div>
          <p class="more">

            <a class="button" href="/playlists/<%= playlist._id %>"><button class="btn btn-primary">View</button></a>

          </p>
        </div>
      </div>

    </div>
    <%}%> 
      </div>

</div>


</div>

</div>